<div class="card">
  <header class="card-header">
    <h2 class="card-header-title">Players</h2>
  </header>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Expedita voluptatum quis, neque nihil atque culpa, nobis perferendis natus delectus
      ab vel necessitatibus, minima voluptate sed eius laborum fugit! Rerum, id!
      </p>
    </div>
    <a href="/players">Players</a> 
</div>

<div class="card">
  <header class="card-header">
    <h2 class="card-header-title">Teams</h2>
  </header>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Expedita voluptatum quis, neque nihil atque culpa, nobis perferendis natus delectus
      ab vel necessitatibus, minima voluptate sed eius laborum fugit! Rerum, id!
      </p>
    </div>
  <a href="/teams">Teams</a>
</div>